'{% extends './layout.njk' %}'

{%block title%}

    <title>Admin / Criação</title>

{%endblock%}

{%block content%}

<form action="/admin" method="post">

    <div class="container_create">
        
        <h2>Criando receita</h2>

        <button type='submit' class='save_form'>Salvar receita</button>

    </div>

        {%include 'admin/fields.njk'%} 

</form>

{% endblock %}