'{% extends './layout.njk' %}'

{%block title%}

    <title>Admin / Criação</title>

{%endblock%}

{%block content%}

        <div class="container_create">

            <h2>Editando receita</h2>
        
            <div class="button_container">

                <form  method='POST' action='/admin?_method=DELETE' id='deleteRecipe'>
                    <button type="submit"  class='button_form' id='delete' form='deleteRecipe'>Deletar</button>
                    <input type="hidden" name='id' value={{recipe.id}}>
                </form>
                
                <button type='submit' class='button_form' form='editRecipe' >Salvar receita</button>
            
            </div>
        </div>

    <form method="post" id='editRecipe' action="/admin/{{recipe.id}}?_method=PUT" >


        {%include 'admin/fields.njk'%} 

        <input type="hidden" name='id' value={{recipe.id}}>

    </form>

    {%include './script.njk'%}


{% endblock content %}
