'{% extends './layout.njk' %}'

{%block title%}

    <title>Admin / Criação</title>

{%endblock%}

{%block content%}

    <form method="post" action="/admin/{{recipe.id}}?_method=PUT" >

    
        <div class="container_create">
            <h2>Editando receita</h2>
        
            <div class="button_container">
                <button type="submit"  class='save_form' id='delete'>Deletar</button>
                <button type='submit' class='save_form' >Salvar receita</button>
            
            </div>
        </div>

            {%include 'admin/fields.njk'%} 

    </form>


    <form  method='POST' action='/admin?_method=DELETE'>
        <input type="hidden" name='id' value={{recipe.id}}>
    </form>


{% endblock content %}
