<html>

    <head>
        <link rel="stylesheet" href="/admin.css">
        {% block title %}
                <title>Foodfy - Criação</title>
        {% endblock title %}
    </head>

    <body>

        <header>
            <img src="/assets/logo.png">
        </header>
    
         <main>

    {% block content %}
    {% endblock %}

        </main>
    </body>

</html>
