<html>
    <head>
        <link rel="stylesheet" href="./admin-styles.css">
        {% block title %}
                <title>Foodfy / Admin </title>
        {% endblock title %}
    </head>
    <body>
          <header>
                <img src="/assets/admin_logo.png" alt="Foodfy">
          </header>

          <main>
    
        
    {% block content %}
    {% endblock %}

        </main>

    </body>
</html>