<html>
    <head>
        <link rel="stylesheet" href="/admin/admin-styles.css">
        {% block title %}
                <title>Foodfy / Admin </title>
        {% endblock title %}
    </head>
    <body>
          <header class='header'>
                <img src="/assets/admin_logo.png" alt="Foodfy">
                {%block header%}
                {%endblock header%}
          </header>

          <main>
    
        
    {% block content %}
    {% endblock %}

        </main>

    </body>
</html>