<html>
    <head>
        <link rel="stylesheet" href="./styles.css">
        {% block title %}
                <title>Foodfy</title>
        {% endblock title %}
    </head>
    <body>
        <div id="supreme">
            <header>
                <a href="/" id="foodfy">Foodfy</a>
                <div class="links">    
                    <a href="/user/about">Sobre</a>
                    <a href="/user/recipes">Receitas</a>
                </div>
  
            </header>

{% block content %}{% endblock %}
    </div>
        <footer>
            <p>Todos os direitos reservados, receitas Foodfy.</p>
        </footer>

            <script src="./scripts.js"></script>

    </body>
</html>