@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    --primary-color:#6558C3;
}
*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: Roboto,'sans-serif';
}
header{
    background-color: black;
    height: 80px;
    width: 100%;
}
header > img{
    padding-top: 25px;
    padding-left: 231px;
}
main{
    padding-left: 231px;
}
#start{
    padding-top: 55px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#start > h1{
    font-size: 24px;
}
#start > a{
    background: var(--primary-color);
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    width: 15%;
    padding: 12px;
}
.item{
    padding-top: 16px;
}
.item > div{
    font-weight: bold;
    font-size: 16px;
    color: black;
    padding-bottom: 10px;
}
.item :nth-child(2){
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 55%;
    height: 49px;
}
button{
    color: var(--primary-color);
    font-weight: bold;
    padding-top: 15px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}
#information{
    height: 257px;
}